<div class="create-user" id="id-create-user">
    <form action="" method="post">
        <label for="id-input-username">Username : </label>
        <input type="text" name="input-username" id="id-input-username">

        <label for="id-input-email">Email : </label>
        <input type="email" name="input-email" id="id-input-email">

        <label for="id-input-password">Password : </label>
        <input type="password" name="input-password" id="id-input-password">

        <p>Role : </p>
        <label for="id-input-role-admin">ADMIN</label>
        <input type="radio" name="input-role" id="id-input-role-admin" value="ADMIN">

        <label for="id-input-role-editor">EDITOR</label>
        <input type="radio" name="input-role" id="id-input-role-editor" value="EDITOR">

        <label for="id-input-role-author">AUTHOR</label>
        <input type="radio" name="input-role" id="id-input-role-author" value="AUTHOR">

        <button id="id-button-submit">Submit</button>
        <button id="id-button-cancel">Cancel</button>
    </form>
</div>